<nav>
    <dt>
        <tr><%= link_to 'Entrar como Gestor', root_path %></tr>
        <tr><%= link_to 'Entrar como Desenvolvedor', root_path %></tr>
    </dt>
</nav>

<h3>Boas vindas ao <strong>FrameFreelaWorks</strong></h3>
<br> 
<div>Encontre Devs para realizar seu Projeto</div>
