<% if manager_signed_in? %>
    <li><%= link_to 'Cadastrar Projeto', new_project_path %></li>
<% end %>

<h3>Boas vindas ao <strong>FrameFreelaWorks</strong></h3>
<br> 
<div>Encontre Devs para realizar seu Projeto</div>
  
